body{
    margin: 0;
}
.contact-content h1{
   text-align: center;
   color: white;
}
.contact-content{
    width: 40%;
    margin: auto;
    padding: 20px;
    border: solid 2px white;
    border-radius: 20px;
}
.contact{
    margin-top: 50px;
}
.carousel-item{
    height: 300px;
}
